/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(
        45deg,           /* Ângulo das listras */
        #641111,         /* Cor da listra clara */
        #5a1414 10px,    /* Largura da listra clara */
        #000000 10px,    /* Cor da listra escura */
        #000000 20px     /* Largura da listra escura */
    );
    color: #333;
}

header {
    background-color: #720416;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

.pdf-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pdf-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pdf-item h2 {
    margin: 0 0 0.5rem;
}

.pdf-item p {
    color: #000000;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.pdf-item a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    color: white;
}

.pdf-item a:first-of-type {
    background-color: #4CAF50;
}

.pdf-item a:last-of-type {
    background-color: #2196F3;
}

footer {
    background-color: #161515;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
}

.carousel-slide img {
    width: 50%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 400px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

